.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 10px 1px var(--color-primary);
    color: var(--color-text-primary);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}

.navbar .active-link {
    color: var(--color-tertiary);
    font-weight: var(--weight-bold);
}

.nav-logo {
 box-shadow: 0px 0px 5px 1px var(--color-primary);
}